.headerWrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header {
  /* color: #ccc; */
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
}
.logo {
  height: 60px;
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.3s;
}
.logo:hover {
  height: 62px;
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
.listItem {
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  margin-right: 40px;
  transition: ease-in-out 0.5s;
}
.listItem:hover {
  opacity: 0.4;
  transition: ease-in-out 0.5s;
}
.scrolled {
  color: #ccc;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-100%);
  transition: ease-in-out 0.7s;
}
.burger {
  opacity: 0;
}
.burger:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .headerFullView {
    height: 100vh;
    position: relative;
    background: rgba(252, 252, 252, 0.9);
  }
  .scrolled {
    transform: translateY(0%);
  }

  .list {
    align-items: center;
  }
  .listItem {
    margin: 0;
    display: none;
    z-index: -9;
  }
  .headerFullView .list {
    flex-direction: column;
    justify-content: center;
  }
  .headerFullView .list .listItem {
    display: flex;
    padding: 2em;
  }
  .logo {
    display: none;
  }
  .burger {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .burger div {
    display: flex;
    width: 35px;
    height: 4px;
    background-color: black;
    transition: 0.4s;
    margin: 6px 0;
  }
  .headerFullView .burger div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 7px);
  }
  .headerFullView .burger div:nth-child(2) {
    opacity: 0;
  }
  .headerFullView .burger div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -5px);
  }
}
