.bgContainer {
  z-index: -1;
  position: absolute;
  width: 100vw !important;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.bgContainer2 {
  z-index: -1;
  position: relative;
  width: 100vw !important;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.bgOverlay {
  z-index: -1;
  max-width: 50%;
  height: 1500px;
  opacity: 0.8;
}
.bgOverlay2 {
  position: absolute;
  right: 0;
  height: 1500px;
  max-width: 50%;
}
.mainContainer {
  padding: 0;
  z-index: 1;
  background: rgba(199, 177, 177, 0.9);
}

.main {
  padding: 5rem 0;
  min-height: 100vh;
}

.landing {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}
.landingTitle {
  margin-top: 150px;
  text-align: center;
  font-size: 6.5em;
}
.descriptionContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingDescription {
  width: 50%;
  font-size: 1.5em;
}

.aboutSection {
  min-height: 500px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  align-content: space-around;
  flex-direction: column;
}
.aboutDescContainer {
  font-size: 1.9em;
  width: 1300px;
  display: flex;
  justify-content: center;
  background: rgba(252,252,252,0.1);
  padding: 1em;
}
.aboutDescContainer2 {
  font-size: 1.3em;
  margin-left: 50px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  /* background: rgba(252,252,252,0.2); */
  padding: 3em;
}

.aboutDescription {
  width: 50%;
}

.gallerySection {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.galleryTitle {
  font-size: 2em;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
