.bgContainer {
  z-index: -1;
  position: absolute;
  width: 100vw !important;
  top: 0;
  left: 0;
}
.bgOverlay {
  z-index: -1;
  width: 50%;
}
.mainContainer {
  padding: 0 0.5rem;
  z-index: 1;
  background: rgba(199, 177, 177, 0.8);
}

.main {
  padding: 5rem 0;
}

.landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landingTitle {
  text-align: center;
  font-size: 7em;
}
.descriptionContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingDescription {
  width: 50%;
  font-size: 2.5em;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
