.bgContainer {
  z-index: -1;
  position: absolute;
  width: 100vw !important;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.bgContainer2 {
  z-index: -1;
  position: relative;
  width: 100vw !important;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.bgOverlay {
  z-index: -1;
  max-width: 50%;
  height: 1500px;
  opacity: 0.8;
}
.bgOverlay2 {
  position: absolute;
  right: 0;
  height: 1500px;
  max-width: 50%;
}
.mainContainer {
  padding: 0;
  z-index: 1;
  background: rgba(199, 177, 177, 0.9);
}

.main {
  padding: 5rem 0;
  min-height: 100vh;
}

.landing {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}
.landingTitle {
  margin-top: 150px;
  text-align: center;
  font-size: 6.5em;
}
.descriptionContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingDescription {
  width: 50%;
  font-size: 1.5em;
}

.aboutSection {
  min-height: 700px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  align-content: space-around;
  flex-direction: column;
}
.aboutDescContainer {
  font-size: 1.9em;
  width: 1300px;
  display: flex;
  justify-content: center;
  background: rgba(252, 252, 252, 0.1);
  padding: 1em;
}
.aboutDescContainer2 {
  font-size: 1.3em;
  margin-left: 50px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  /* background: rgba(252,252,252,0.2); */
  padding: 3em;
}

.aboutDescription {
  width: 50%;
}

.gallerySection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.galleryTitle {
  font-size: 3.2em;
  font-weight: bold;
}
.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  max-width: 1200px;
}
.galleryObj {
  width: 350px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1em;
  transition: 1s ease-in-out;
  cursor: pointer;
  text-align: center;
  padding: 1em;
  background: #ffffff;
}
.galleryImg {
  width: 100%;
}

.galleryObj:hover {
  transition: 500ms ease-in-out;
  opacity: 0.7;
}
.galleryObjText {
  text-align: center;
  padding: 10px 20px;
}

.contactSection {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contact {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 1em;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.8em;
  border: none;
  transition: 500ms ease-in-out;
}
.contact:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: 500ms ease-in-out;
}
.contactSection p {
  font-size: 0.8em;
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
